In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
import json

In [4]:
!ls ./results/

0b_0_shot.json	 20b_10_shot.json	5_shot.json	     nsmc_50_shot.json
0b_10_shot.json  20b_50_shot.json	bloom		     nsmc_5_shot.json
0b_50_shot.json  20b_5_shot.json	kobest_bench	     opt
0b_5_shot.json	 20b_nsmc_0_shot.json	korean_origin_bench  xglm
0_shot.json	 20b_nsmc_10_shot.json	llama
10_shot.json	 20b_nsmc_5_shot.json	mpt
20b_0_shot.json  50_shot.json		nsmc_10_shot.json

In [5]:
# !cat ./results/20b_0_shot.json

In [6]:
# ckpts = [0, 20] # N billions, 0 == Llama original ckpt(w/o 한글토크나이저)

In [7]:
def get_df(ckpt):
    data = []
    for i in [0, 5, 10, 50]:
        shot = f'./results/kobest_bench/{ckpt}b/{i}_shot.json'
        try:
            data.append({f'{ckpt}b_{k}': v['macro_f1'] for k, v in json.load(open(shot))['results'].items()})
        except FileNotFoundError:
            shot = f'./results/{ckpt}b_{i}_shot.json'
            try:
                data.append({f'{ckpt}b_{k}': v['macro_f1'] for k, v in json.load(open(shot))['results'].items()})
            except FileNotFoundError:
                pass
    return pd.DataFrame(data, index=[0, 5, 10, 50][:len(data)]).T

In [8]:
get_df(0)

                           0         5         10        50
0b_kobest_boolq      0.352050  0.563238  0.474788  0.419222
0b_kobest_copa       0.562033  0.575982  0.576216  0.595532
0b_kobest_hellaswag  0.415390  0.431382  0.421342  0.442003
0b_kobest_sentineg   0.347502  0.529124  0.480641  0.788457

In [24]:
get_df(20)

                            0         5         10        50
20b_kobest_boolq      0.360656  0.679743  0.680109  0.662152
20b_kobest_copa       0.738780  0.762639  0.780761  0.797863
20b_kobest_hellaswag  0.451757  0.466751  0.472607  0.482776
20b_kobest_sentineg   0.485546  0.829503  0.871141  0.851253

In [25]:
get_df(40)

                            0         5         10        50
40b_kobest_boolq      0.578640  0.697747  0.708358  0.714423
40b_kobest_copa       0.743630  0.792716  0.803746  0.825944
40b_kobest_hellaswag  0.456246  0.465665  0.469810  0.477374
40b_kobest_sentineg   0.459447  0.761079  0.727611  0.936988

In [26]:
get_df(60)

                            0         5         10        50
60b_kobest_boolq      0.529994  0.661674  0.654163  0.656460
60b_kobest_copa       0.765546  0.781651  0.810768  0.830939
60b_kobest_hellaswag  0.465218  0.467822  0.459483  0.447476
60b_kobest_sentineg   0.437134  0.337184  0.331650  0.342671

In [27]:
get_df(65)

                             0
65b_kobest_boolq      0.630529
65b_kobest_copa       0.757487
65b_kobest_hellaswag  0.461965
65b_kobest_sentineg   0.416756

In [28]:
# results/korean_origin_bench/20b/00_shot.json
def get_df_klue(ckpt):
    data = []
    for i in ['00', '05', '10', '50']:
        shot = f'./results/korean_origin_bench/{ckpt}b/{i}_shot.json'
        try:
            data.append({f'{ckpt}b_{k}': v.get('f1') or v.get('macro_f1') or v.get('acc') for k, v in json.load(open(shot))['results'].items()})
        except FileNotFoundError:
            pass
    return pd.DataFrame(data, index=[0, 5, 10, 50][:len(data)]).T

# results/korean_origin_bench/20b/00_shot.json
def get_df_klue_polyglot(ckpt):
    data = []
    for i in [0, 5, 10, 50]:
        shot = f'./results/korean_origin_bench/{ckpt}b/{i}_shot.json'
        try:
            data.append({f'{ckpt}b_{k}': v.get('f1') or v.get('macro_f1') or v.get('acc') for k, v in json.load(open(shot))['results'].items()})
        except FileNotFoundError:
            pass
    return pd.DataFrame(data, index=[0, 5, 10, 50][:len(data)]).T

In [29]:
get_df_klue(0) # Llama-2 Original

                                0         5         10
0b_klue_nli               0.330333  0.351667  0.365667
0b_klue_sts               0.593496  0.313846  0.428571
0b_klue_ynat              0.247357  0.296084  0.318264
0b_kohatespeech           0.256448  0.365834  0.311224
0b_kohatespeech_apeach    0.337667  0.486141  0.510490
0b_kohatespeech_gen_bias  0.124535  0.497921  0.459862
0b_korunsmile             0.299559  0.327706  0.361116
0b_nsmc                   0.549620  0.763800  0.803420
0b_pawsx_ko               0.520000  0.518000  0.533500

In [30]:
get_df_klue(20) # Llama-2-Ko 20B

                                 0         5         10
20b_klue_nli               0.329000  0.345000  0.351333
20b_klue_sts               0.595399  0.563050  0.574436
20b_klue_ynat              0.372881  0.289226  0.292021
20b_kohatespeech           0.257906  0.353269  0.274473
20b_kohatespeech_apeach    0.337667  0.566589  0.572683
20b_kohatespeech_gen_bias  0.127236  0.496594  0.492181
20b_korunsmile             0.292199  0.321128  0.346743
20b_nsmc                   0.604380  0.810180  0.860780
20b_pawsx_ko               0.494000  0.509500  0.524000

In [31]:
get_df_klue(40) # Llama-2-Ko 40B

Empty DataFrame
Columns: []
Index: []

In [32]:
get_df_klue_polyglot('polyglot-ko-1.3')

                                              0         5         10        50
polyglot-ko-1.3b_klue_nli               0.312667  0.340333  0.340333  0.334333
polyglot-ko-1.3b_klue_sts               0.595399  0.437500  0.277286  0.330218
polyglot-ko-1.3b_klue_ynat              0.332581  0.286008  0.294551  0.300176
polyglot-ko-1.3b_kohatespeech           0.379466  0.352594  0.328610  0.329953
polyglot-ko-1.3b_kohatespeech_apeach    0.338150  0.491640  0.490541  0.444466
polyglot-ko-1.3b_kohatespeech_gen_bias  0.127236  0.473223  0.494066  0.493121
polyglot-ko-1.3b_korunsmile             0.395329  0.323739  0.315747  0.291092
polyglot-ko-1.3b_nsmc                   0.579520  0.750960  0.789800  0.817820
polyglot-ko-1.3b_pawsx_ko               0.454500  0.481500  0.468500  0.465500

In [33]:
get_df_klue_polyglot('polyglot-ko-3.8')

                                              0         5         10
polyglot-ko-3.8b_klue_nli               0.333333  0.333333  0.332667
polyglot-ko-3.8b_klue_sts               0.592798  0.424779  0.352357
polyglot-ko-3.8b_klue_ynat              0.331815  0.269351  0.287737
polyglot-ko-3.8b_kohatespeech           0.314727  0.383735  0.333545
polyglot-ko-3.8b_kohatespeech_apeach    0.337667  0.412231  0.346633
polyglot-ko-3.8b_kohatespeech_gen_bias  0.124535  0.461714  0.461714
polyglot-ko-3.8b_korunsmile             0.408313  0.330934  0.339370
polyglot-ko-3.8b_nsmc                   0.597580  0.770780  0.801880
polyglot-ko-3.8b_pawsx_ko               0.479000  0.487500  0.500500

In [34]:
get_df_klue_polyglot('polyglot-ko-5.8')

Empty DataFrame
Columns: []
Index: []